# Example of Lambda Function

In [ ]:
power = lambda x, n : x**n

print(power(2,4)) # Here x in number and n is power of number so output will be x^n

16

# Example of Map Function

In [ ]:
def square(x):
    return x*x

n=[*range(20)]
sqaured_list=map(square, n)
print("The sqaured list of values till 20 is ", list(sqaured_list))

The sqaured list of values till 20 is  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# Example of Lambda and Map Function

In [ ]:
list1 = [1, 2, 3] 
list2 = [4, 5, 6] 
  
result = map(lambda x, y: x * y, list1, list2) 
dotproduct = sum(list(result))
print(dotproduct)

32

## Example of Class and Methods

In [ ]:
class Employee:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        self.dept = "General"

    def set_dept(self, dept_name):
        self.dept = dept_name
    
    def salary_increment(self, percent):
        self.salary = self.salary + (self.salary*percent)/100

    def get_details(self):
        print('{} is {} years old and works for {} Department and has a salary of {} Rs'.format(self.name, self.age, self.dept, self.salary) )

employee = Employee('Romil Lodaya', 22, 100000) # New employee registerd
employee.set_dept('R&D') # Changing the department from General to R&D
employee.salary_increment(20) #Salary increament by 20%

employee.get_details() #Printing all the details

Romil Lodaya is 22 years old and works for R&D Department and has a salary of 120000.0 Rs

## Example of List Append

In [ ]:
my_list = [*range(20)]

print('Old list = ',my_list)

new_list = []

for element in my_list:
    if element % 3 == 0:
        new_list.append(element)

print('New list with number only divisible by 3 = ',new_list)

Old list =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
New list with number only divisible by 3 =  [0, 3, 6, 9, 12, 15, 18]

# Table Creation

In [ ]:
def create_table(num):
    for i in range(1, 11):
        print('{} x {} = {}'.format(num, i, num*i))


num = int(input("Enter the number to form Table : "))
create_table(num)

Enter the number to form Table : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50